In [2]:
import pandas as pd

data_rating = pd.read_csv('ratings.csv')
rating = data_rating['rating']

def classify_by(rating):
    
    if rating <= 2.0:
        rating_class = 'низкий рейтинг'
    elif 2 < rating <= 4.0:
        rating_class = 'средний рейтинг'
    else:
        rating_class = 'высокий рейтинг'
    
    return rating_class
    
data_rating['class'] = rating.apply(classify_by)

data_rating.tail(20)

        userId  movieId  rating   timestamp            class
99984      671     5010     2.0  1066793004   низкий рейтинг
99985      671     5218     2.0  1065111990   низкий рейтинг
99986      671     5299     3.0  1065112004  средний рейтинг
99987      671     5349     4.0  1065111863  средний рейтинг
99988      671     5377     4.0  1064245557  средний рейтинг
99989      671     5445     4.5  1064891627  высокий рейтинг
99990      671     5464     3.0  1064891549  средний рейтинг
99991      671     5669     4.0  1063502711  средний рейтинг
99992      671     5816     4.0  1065111963  средний рейтинг
99993      671     5902     3.5  1064245507  средний рейтинг
99994      671     5952     5.0  1063502716  высокий рейтинг
99995      671     5989     4.0  1064890625  средний рейтинг
99996      671     5991     4.5  1064245387  высокий рейтинг
99997      671     5995     4.0  1066793014  средний рейтинг
99998      671     6212     2.5  1065149436  средний рейтинг
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

In [8]:
import re

data_keywords = pd.read_csv('keywords.csv')
keyword = data_keywords['keyword']

geo_data = {

'Центр': [r'москв[а-я]+', r'тул[а-я]+', r'ярославл[а-я]+'],
'Северо-Запад': [r'петербург[а-я]+', r'псков[а-я]+', r'мурманск[а-я]+'],
'Дальний Восток': [r'владивосток[а-я]+', r'сахалин[а-я]+', r'хабаровск[а-я]+']}

def geo_class(keyword):
    for region, cities in geo_data.items():
        for city in cities:
            if re.findall(city, keyword):
                return region
    else: 
        return 'undefined'
            
data_keywords['region'] = keyword.apply(geo_class)

data_keywords[ ['region', 'keyword'] ].groupby('region').count().reset_index().sort_values(by='keyword', ascending=False)

           region  keyword
0       undefined    98996
3           Центр      854
2    Северо-Запад      120
1  Дальний Восток       30

In [13]:
data_rating = pd.read_csv('ratings.csv')
data_movies = pd.read_csv('movies.csv')

title = data_movies['title']

years = [str(x) for x in range(1950, 2011)]

def production_year(title):
    year = ''.join(re.findall(r'\d{4}', title))
    if year in years:
        return year
    else:
        return '1900'

data_movies['year'] = title.apply(production_year)
    
data_joined = data_rating.merge(data_movies, on='movieId', how='left')

data_joined.groupby('year').mean()['rating'].sort_values(ascending=False).head(10)

year
1957    4.014241
1972    4.011136
1952    4.000000
1974    3.999058
1954    3.994220
1951    3.983539
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
Name: rating, dtype: float64